html {
  line-height: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.5rem;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.AppFooter {
  background-color: green;
}

.AppTitle {
  padding: 1rem 0rem;
  text-align: center;
  background-color: burlywood;
}

button {
  margin: 1rem;
  border-radius: 2px;
  background-color: white;
  border: 1px solid orange;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button:focus {
  background-color: lightgray;
}
